*{
margin: 0px;
padding: 0px;
box-sizing:border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(4, 14, 102);
}
.logo {
color :rgb(230, 227, 70);
text-transform :uppercase;
letter-spacing: 5px;
font-size: 20px;


}
.nav-links {
    display:flex;
    background-color: red;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color :rgb(230, 227, 70);
    text-decoration:none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 14px;

}
.burger {
    display: block;
}
.burger div{
   width:25px;
   height: 3px;
   background-color: rgb(234, 234, 241);
   margin: 5px;
}

@media screen and  (max-width: 1024px ){
.nav-links{
    width: 60%;
}
    
}

@media screen and  (max-width: 768px ){
    body {
     overflow-x: hidden;   
    }
    .nav-links{
        position:absolute;
        right: 0px;
        height: 92vh ;
        top :8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(41, 30, 30);
        width: 50%;
        transform: translateX(100%);
        transition: tranform 0.6s ease-in;

    }
    .nav-links li{
        opacity: 0;
    }  
    .burger {
        display: block;
    }
    }
    .nave-active {
     transform: translateX(0%);
    }

    @keyframes navlinkFade {
        from{
            opacity: 0;
            transform : translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg translate (-5px ,6px));
    }

    .toggle .line2 {
        opacity:unset 0;
    }

    .toggle .line3 {
        transform: rotate(45deg translate (-5px ,-6px)); 
    }